
header {
  background-color: #90a3cb;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

header > * {
  color: #fff;
  margin: 0;
}
