@charset "utf-8";

.error-message {
  color: #ff3333;
}

.login input {
  max-width: 300px;
  padding: 4px;
  margin-left: 20px;
}

.login .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
